.footerOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #000;
    font-family: sans-serif;
    padding: 40px 0px;
    h2 {
        margin-left: 100px;
        color: #fff;
        font-family: 25px;
    }
    .content { 
        margin: 0 100px;
        .fd_post_box {
            margin: 30px 1px;
        }
    }
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    .footerOne {
        h2 {
            margin-left: 30px;
        }
        flex-direction: column;
        .content{
            .footer_article_box{
                margin: 30px 0px;
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .footerOne {
        h2 {
            margin-left: 30px;
        }
        flex-direction: column;
        .content{
            margin: 0px 0px;
            .fd_post_box {
                margin: 30px 30px;
                .post_content{
                    left: 0;
                    margin-top: 0;
                }
            }
            .footer_article_box {
                margin: 30px 25px;
                width: 80%;
            }
        }
    }
}