.footer_article_box {
    width: 400px;
    padding: 15px;
    background: #000;
    img {
        margin: 0 0 20px 0;
    }
    p {
        margin: 0 0 20px 0;
        color: lightgray;
    }
    button {
        margin: 0px 0px 0px 0px;
    }
}