<div class="footer_article_box">
    {% if footer_article_image_src %}
        {% include "@atoms/images/image/_image.twig" with {
            image_src: footer_article_image_src,
            image_alt: footer_article_image_alt,
        } %}
    {% endif %}
    {% if footer_article_paragraph_content %}
        {% include "@atoms/text/text/01-paragraph.twig" with {
            paragraph_content: footer_article_paragraph_content,
        } %}
    {% endif %}
    {% if footer_article_button_url %}
        {% include "@atoms/buttons/button.twig" with {
            button_content: footer_article_button_content,
            button_url: footer_article_button_url,
            button_modifiers: footer_article_button_modifiers,
        } %}
    {% endif %}
</div>